<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SPOTIFY"
        tools:targetApi="31">
        <activity
            android:name=".View.QuenMKActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="false" />
        <activity
            android:name=".View.DangKyActivity"
            android:exported="false" />
        <activity
            android:name=".View.DangNhapActivity"
            android:exported="true">
            <meta-data android:name="com.spotify.sdk.android.authentication.redict_uri"
                android:value="localhost"/>
            <meta-data android:name="com.spotify.sdk.android.authentication.client_id"
                android:value="754fdce30db44bddb6ae6acda1a46d1e"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>